:root{
    font-family: 'Roboto','arial';
    --grid-rows:1;
    --grid-columns:5;
}

body{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    width: 100vw;
    height: 100vh;
}

.heading{
    padding: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 3rem;
    font-weight: 600;
}

.add-book{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 3rem;
}

.add-container{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 2rem;
}

.label-block{
    width:14rem;
    display: flex;
    align-content: flex-start;
    gap: 0.5rem;
    margin: 0 0.3rem;
}

.output-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-flow: row wrap;
    gap: 1rem;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    justify-content: flex-start;
    width: 10rem;
    flex: 1;
    max-width: 28.125rem;
    min-width: 16.75rem;
   

}

.card{
    display: flex;
    flex-flow: column wrap;
    border: 1px solid black;
    justify-content: flex-start;
    width: 10rem;
    flex: 1;
    max-width: 28.125rem;
    min-width: 16.75rem;
    height: 18rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 0.8rem;
}

.delete-button{
    border: 1px solid red;
}